# ==============================
# Node
# ==============================
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ==============================
# Cypress
# ==============================
cypress/videos/
cypress/screenshots/
cypress/downloads/

# Cypress cache
.cache/

# ==============================
# Environment variables
# ==============================
.env
.env.*
cypress.env.json

# ==============================
# IDE / Editor
# ==============================
.vscode/
.idea/
*.swp

# ==============================
# OS
# ==============================
.DS_Store
Thumbs.db