############################
# DEPENDÊNCIAS
############################
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

############################
# BUILD / DIST
############################
dist/
build/
out/
coverage/
.nyc_output/

############################
# CYPRESS
############################
cypress/videos/
cypress/screenshots/
cypress/downloads/

############################
# AMBIENTE
############################
.env
.env.*
!.env.example

############################
# SISTEMA OPERACIONAL
############################
.DS_Store
Thumbs.db

############################
# EDITORES
############################
.vscode/
.idea/
*.swp
*.swo

############################
# LOGS
############################
logs/
*.log

############################
# CACHE
############################
.cache/
.parcel-cache/

############################
# TESTES
############################
coverage-final.json

############################
# ARQUIVOS TEMPORÁRIOS
############################
tmp/
temp/